# Write a Python program to find sum of elements in list?

In [26]:
def sum_list_elements(l):
    if type(l) == list:
        try:
            total = 0
            for i in l:
                total = total + i
                
            return total
        except Exception as e:
            print("somethoing not right", e)
    else:
        print("incorrect input type")

In [27]:
a = [1,5,2,3,4]

In [28]:
sum_list_elements(a)

15

# Write a Python program to Multiply all numbers in the list?

In [29]:
def multiply_list_elements(l):
    if type(l) == list:
        try:
            total = 1
            for i in l:
                total = total * i
                
            return total
        except Exception as e:
            print("somethoing not right", e)
    else:
        print("incorrect input type")

In [30]:
multiply_list_elements(a)

120

# Write a Python program to find smallest number in a list?

In [81]:
def smallest_element(l):
    try:
        smallest = l[0]
        for i in l:
            if smallest > i:
                smallest = i
            else:
                pass
        return smallest
    except Exception as e:
        print("somethings not right",e)

In [82]:
smallest_element(a)

1

In [83]:
a

[1, 5, 2, 3, 4]

# Write a Python program to find largest number in a list?

In [84]:
def largest_element(l):
    try:
        largest = l[0]
        for i in l:
            if largest < i:
                largest = i
            else:
                pass
        return largest
    except Exception as e:
        print("somethings not right",e)

In [85]:
largest_element(a)

5

In [87]:
a

[1, 5, 2, 3, 4]

# Write a Python program to find second largest number in a list?

In [105]:
def second_largest(self):
    try:
        self.sort()
        return self[-2]
    except Exception as e:
        print("something not right",e)

In [108]:
a1 = [324,5,76,4325,67,4567,6532,51,4656,4,3,4,3,4,5,6,5432,3,9]

In [109]:
second_largest(a1)

5432

# Write a Python program to find N largest elements from a list?

In [123]:
def find_large_nos(self,n = int):
    """This function gives the N number of largest numbers in a list"""
    try:
        self.sort()
        return self[-1:-(n+1):-1]
    except Exception as e:
        print("something not right",e)

In [124]:
a1 = [324,5,76,4325,67,4567,6532,51,4656,4,3,4,3,4,5,6,5432,3,9]

In [125]:
find_large_nos(a1,3)

[6532, 5432, 4656]

# Write a Python program to print even numbers in a list?

In [127]:
def find_even_nos(self):
    list_to_refer = ['0','2','4','6','8']
    even_numbers = []
    try:
        for num in self:
            int = str(num)
            if int[-1] in list_to_refer:
                even_numbers.append(int)
            else:
                pass
        return even_numbers
    except Exception as e:
        print("something went wrong :(",e)

In [126]:
a

[1, 2, 3, 4, 5]

In [128]:
a1 = [324,5,76,4325,67,4567,6532,51,4656,4,3,4,3,4,5,6,5432,3,9]

In [129]:
find_even_nos(a1)

['324', '76', '6532', '4656', '4', '4', '4', '6', '5432']

# Write a Python program to print odd numbers in a List?

In [130]:
def find_odd_nos(self):
    list_to_refer = ['1','3','5','7','9']
    odd_numbers = []
    try:
        for num in self:
            int = str(num)
            if int[-1] in list_to_refer:
                odd_numbers.append(int)
            else:
                pass
        return odd_numbers
    except Exception as e:
        print("something went wrong :(",e)

In [131]:
a1

[324, 5, 76, 4325, 67, 4567, 6532, 51, 4656, 4, 3, 4, 3, 4, 5, 6, 5432, 3, 9]

In [132]:
find_odd_nos(a1)

['5', '4325', '67', '4567', '51', '3', '3', '5', '3', '9']

# Write a Python program to Remove empty List from List?

In [144]:
def filter_list(self):
    try:
        empty_list = []
        for ele in self:
            if ele == empty_list:
                self.remove(ele)
            else:
                pass
        return self
    except Exception as e:
        print("something went wrong :(",e)

In [145]:
a = [3,5,4,65,6,[],5]

In [146]:
filter_list(a)

[3, 5, 4, 65, 6, 5]

# Write a Python program to Cloning or Copying a list?

In [159]:
def cloning(self):
    try:
        clonned_list = []
        for num in self:
            clonned_list.append(num)
        print("The list after cloning : " ,clonned_list)
        print("The original list : ",self )
    except Exception as e:
        print("something went wrong :(",e)

In [160]:
a

[3, 5, 4, 65, 6, 5]

In [161]:
cloning(a)

The list after cloning :  [3, 5, 4, 65, 6, 5]
The original list :  [3, 5, 4, 65, 6, 5]

# Write a Python program to Count occurrences of an element in a list?

In [162]:
def check_count(self , n = int):
    try:
        count = 0
        for num in self:
            if n == num:
                count = count+1
            else:
                pass
        print("The total number of occurence of",n , "in " , self , "is " , count)
        
    except Exception as e:
        print("something went wrong :(",e)

In [163]:
a = [3,5,7,8,5,43,65,7,7,4,32,4,6,87,8,5,3,4,5,4,2,4,65,76]

In [164]:
check_count(a,5)

The total number of occurence of 5 in  [3, 5, 7, 8, 5, 43, 65, 7, 7, 4, 32, 4, 6, 87, 8, 5, 3, 4, 5, 4, 2, 4, 65, 76] is  4